/*
	# Vars
*/


/*
    # Blocks
*/

// main page layout
.l-main {
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
}

.l-header,
.l-content,
.l-footer {
	flex: 0 0 100%;
}

.l-header {
	background: white;
}

// weird bug with flex 
.l-header > div {
	width: 100%;
}

.l-content {
	background: grey;
}

.content > div {
	display: flex;
	flex-flow: row wrap;
}

.l-sidebar {
	background: blue;
}